@import "mixin";
@import "var";

.searchConatiner {
    @include flexlatesttrend;

    .desc {
        @include paralatesttrend;
    }
}

.ProductDesc {
    background-color: $whiteColor;
    display: flex;
    justify-content: space-evenly
}

.ratingdesc {
    @include rating
}

.trendDetailContainer {
    display: flex;
    column-gap: 15px;
    width: 600px;
    flex-wrap: wrap;
    row-gap: 20px;
    padding-left: $padding;
    padding-top: $padding;


}

.trendDesc {
    padding: 5px;
    width: 120px;
    font-size: $fontsizetitle;

    .imagetrend {
        height: 80px;
        width: 100px;
        padding: 10px
    }

    .hoverdesc {
        background-color: $btnColor;
        padding: 5px;
        padding-left: 29px
    }

    .title {
        @include titleLength
    }

    .price {
        color: $btnColor;
    }

    .ratingDesc {
        display: flex;
        flex-direction: row;
    }

    .countDesc {
        margin-left: 3px;
        font-size: 7px;
        margin-top: 1px
    }
}

@media only screen and (max-width: 600px) {
    .searchResult {
        font-size: 15px;
        width: 90px;
    }

    .brand {
        font-size: 15px;

    }

    .priceRange {
        font-size: 15px;
    }

    .ratings {
        font-size: 15px;
    }

    .searchConatiner {
        flex-direction: row;
        width: 80px;

        .desc {
            height: 5px;
            width: 5px;
        }

    }



    .trendDetailContainer {
        column-gap: 10px;
        width: 500px;
        row-gap: 10px;
        margin-left: 20px;
    }
}